<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <button mat-icon-button class="toggle-btn" (click)="toggleSidebar()">
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>

  <div class="sidebar-content">
    <!-- <div class="profile-section">
      <div class="user-avatar">
        <div class="avatar">{{ user.name | initials }}</div>
        <div matListItemTitle>{{ user.name }}</div>
        <div matListItemLine>{{ user.role }}</div>
        <div *ngIf="user.role === 'Professional'" matListItemLine>
          Profession: {{ user.profession }}
      </div>
      </div>
    </div> -->

    <nav class="navigation">
      <ul class="nav-menu">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link" 
             [routerLink]="item.link" 
             routerLinkActive="active"
             [matTooltip]="isCollapsed ? item.label : null"
             matTooltipPosition="right">
            <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
            <span class="nav-label" *ngIf="!isCollapsed">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>