<div class="client-dashboard-container">
  <!-- Side Navigation -->
  <div class="side-nav">
    <!-- <div class="profile-section"  *ngIf="currentUser">
      <h2>Client</h2>
      <p class="user-name">{{ currentUser?.name }}</p>
      <p class="user-email">{{ currentUser?.email }}</p>
    </div> -->

    <nav>
      <ul class="nav-menu">
        <li class="nav-item active">
          <a routerLink="/appointments" routerLinkActive="active">
            <mat-icon>event</mat-icon>
            My Appointments
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/calendar" routerLinkActive="active">
            <mat-icon>calendar_today</mat-icon>
            Calendar
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/professionals" routerLinkActive="active">
            <mat-icon>people</mat-icon>
            Professionals
          </a>
        </li>
      </ul>
    </nav>

  </div>

  <!-- Main Content Area -->
  <div class="main-content">
    <div class="client-dashboard">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="openAppointmentForm()">
          <mat-icon>add</mat-icon> New Appointment
        </button>
      </div>
      
      <div class="appointments-container">
        <h2>Your Appointments</h2>
        
        <app-appointment-list [appointments]="appointments"
        [professionals]="professionals"></app-appointment-list>
      </div>
    
      <router-outlet></router-outlet>
    </div>
  </div>
</div>