<div class="appointment-container">

  <!-- Stats BAr-->
  <app-appointment-stats [appointments]="appointments"></app-appointment-stats>




  <div class="actions">
    <button mat-raised-button color="primary" (click)="openAppointmentForm()">
      <mat-icon>add</mat-icon> New Appointment
    </button>
  </div>

  <!-- Filters -->
  <div class="filters">
    <input type="date" [(ngModel)]="fromDate">
    <input type="date" [(ngModel)]="toDate">
    <select [(ngModel)]="selectedStatus">
      <option value="">All</option>
      <option value="confirmed">Confirmed</option>
      <option value="cancelled">Cancelled</option>
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
    </select>
    <button class="filter-btn" (click)="applyFilters()"><mat-icon>filter_alt</mat-icon></button>

  </div>


  <!-- Appointment Table -->
  <div class="appointments-table">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Professional</th>
          <th>Profession</th>
          <th>Status</th>
          <th>Edit</th>
          <th>CAncel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appt of appointments">
          <td>{{appt.date | date:'mediumDate'}}</td>
          <td>{{appt.time}}</td>
          <td>{{appt.professional.name}}</td>
          <td>{{appt.professional.profession}}</td>
          
          <td>
            <mat-chip [color]="getStatusColor(appt.status)" selected>
              {{ appt.status }}
            </mat-chip>
          </td>
         
          <td>
            <button class="edit-btn" (click)="editAppointment(appt)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>
            <button class="delete-btn" (click)="deleteAppointment(appt)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
